In [16]:
# 📦 Imports
import pandas as pd
from sqlalchemy import create_engine
import getpass

# 🔐 Prompt for password
password = getpass.getpass("Enter your PostgreSQL password: ")

# 🔌 Database connection settings
user = "aml_user"
host = "localhost"
port = "5432"
database = "aml_dashboard"
db_url = f"postgresql://{user}:{password}@{host}:{port}/{database}"

# 🚀 Create SQLAlchemy engine
engine = create_engine(db_url)

# 🔁 Utility function to run SQL queries
def run_query(sql):
    """Run SQL query and return a DataFrame."""
    df = pd.read_sql(sql, engine)
    print(f"✅ Retrieved {len(df):,} rows.")
    return df

In [17]:
# -----------------------------------------------
# 🧠 Run SQL Queries for EDA (Exploratory Analysis)
# -----------------------------------------------

# 1️⃣ Total number of transactions
print("🔹 Total number of transactions:")
q1 = """
SELECT COUNT(*) AS total_transactions FROM transactions;
"""
print(run_query(q1))

🔹 Total number of transactions:
✅ Retrieved 1 rows.
   total_transactions
0             9504852

In [18]:
# 2️⃣ Class distribution (fraud / not fraud)
print("\n🔹 Class distribution (is_laundering):")
q2 = """
SELECT "Is_laundering", COUNT(*) AS count
FROM transactions
GROUP BY "Is_laundering"
ORDER BY "Is_laundering";
"""
print(run_query(q2))

🔹 Class distribution (is_laundering):
✅ Retrieved 2 rows.
   Is_laundering    count
0              0  9494979
1              1     9873

In [19]:
# 3️⃣ Top 5 sender countries
print("\n🔹 Top 5 sender countries:")
q3 = """
SELECT "Sender_bank_location", COUNT(*) AS num_transactions
FROM transactions
GROUP BY "Sender_bank_location"
ORDER BY num_transactions DESC
LIMIT 5;
"""
print(run_query(q3))

🔹 Top 5 sender countries:
✅ Retrieved 5 rows.
  Sender_bank_location  num_transactions
0                   UK           9183088
1               Turkey             20902
2          Switzerland             20503
3             Pakistan             20346
4                  UAE             20081

In [20]:
# 4️⃣ Top 5 receiver countries
print("\n🔹 Top 5 receiver countries:")
q4 = """
SELECT "Receiver_bank_location", COUNT(*) AS num_transactions
FROM transactions
GROUP BY "Receiver_bank_location"
ORDER BY num_transactions DESC
LIMIT 5;
"""
print(run_query(q4))

🔹 Top 5 receiver countries:
✅ Retrieved 5 rows.
  Receiver_bank_location  num_transactions
0                     UK           8864634
1               Pakistan             38980
2                Austria             38844
3                Albania             38783
4                  Japan             38729

In [23]:
df.columns = df.columns.str.lower().str.strip()
df.to_sql("transactions", engine, if_exists="replace", index=False)

NameError: name 'df' is not defined

In [24]:
q = "SELECT COUNT(*) FROM transactions;"
print(run_query(q))

✅ Retrieved 1 rows.
     count
0  9504852

In [27]:
SELECT is_laundering, ROUND(AVG(transaction_amount), 2)
FROM transactions
GROUP BY is_laundering;

SyntaxError: invalid syntax (2063329173.py, line 1)

In [25]:

# 5️⃣ Average transaction amount by laundering status
print("\n🔹 Average transaction amount by is_laundering:")
q5 = """
SELECT is_laundering, ROUND(AVG(transaction_amount), 2) AS avg_amount
FROM transactions
GROUP BY is_laundering;
"""
print(run_query(q5))

🔹 Average transaction amount by is_laundering:

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "is_laundering" does not exist
LINE 2: SELECT is_laundering, ROUND(AVG(transaction_amount), 2) AS a...
               ^
HINT:  Perhaps you meant to reference the column "transactions.Is_laundering".

[SQL:
SELECT is_laundering, ROUND(AVG(transaction_amount), 2) AS avg_amount
FROM transactions
GROUP BY is_laundering;
]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [15]:
# 📦 Imports
import pandas as pd
from sqlalchemy import create_engine
import getpass

# 🔐 Prompt for password
password = getpass.getpass("Enter your PostgreSQL password: ")

# 🔌 Database connection settings
user = "aml_user"
host = "localhost"
port = "5432"
database = "aml_dashboard"
db_url = f"postgresql://{user}:{password}@{host}:{port}/{database}"

# 🚀 Create SQLAlchemy engine
engine = create_engine(db_url)

# 🔁 Utility function to run SQL queries
def run_query(sql):
    """Run SQL query and return a DataFrame."""
    df = pd.read_sql(sql, engine)
    print(f"✅ Retrieved {len(df):,} rows.")
    return df

# -----------------------------------------------
# 🧠 Run SQL Queries for EDA (Exploratory Analysis)
# -----------------------------------------------

# 1️⃣ Total number of transactions
print("🔹 Total number of transactions:")
q1 = """
SELECT COUNT(*) AS total_transactions FROM transactions;
"""
print(run_query(q1))


# 2️⃣ Class distribution (fraud / not fraud)
print("\n🔹 Class distribution (is_laundering):")
q2 = """
SELECT "Is_laundering", COUNT(*) AS count
FROM transactions
GROUP BY "Is_laundering"
ORDER BY "Is_laundering";
"""
print(run_query(q2))


# 3️⃣ Top 5 sender countries
print("\n🔹 Top 5 sender countries:")
q3 = """
SELECT "Sender_bank_location", COUNT(*) AS num_transactions
FROM transactions
GROUP BY "Sender_bank_location"
ORDER BY num_transactions DESC
LIMIT 5;
"""
print(run_query(q3))


# 4️⃣ Top 5 receiver countries
print("\n🔹 Top 5 receiver countries:")
q4 = """
SELECT "Receiver_bank_location", COUNT(*) AS num_transactions
FROM transactions
GROUP BY "Receiver_bank_location"
ORDER BY num_transactions DESC
LIMIT 5;
"""
print(run_query(q4))


# 5️⃣ Average transaction amount by laundering status
print("\n🔹 Average transaction amount by is_laundering:")
q5 = """
SELECT "Is_laundering", ROUND(AVG("Transaction_amount"), 2) AS avg_amount
FROM transactions
GROUP BY "Is_laundering";
"""
print(run_query(q5))

🔹 Total number of transactions:
✅ Retrieved 1 rows.
   total_transactions
0             9504852

🔹 Class distribution (is_laundering):
✅ Retrieved 2 rows.
   Is_laundering    count
0              0  9494979
1              1     9873

🔹 Top 5 sender countries:
✅ Retrieved 5 rows.
  Sender_bank_location  num_transactions
0                   UK           9183088
1               Turkey             20902
2          Switzerland             20503
3             Pakistan             20346
4                  UAE             20081

🔹 Top 5 receiver countries:
✅ Retrieved 5 rows.
  Receiver_bank_location  num_transactions
0                     UK           8864634
1               Pakistan             38980
2                Austria             38844
3                Albania             38783
4                  Japan             38729

🔹 Average transaction amount by is_laundering:

ProgrammingError: (psycopg2.errors.UndefinedColumn) column "Transaction_amount" does not exist
LINE 2: SELECT "Is_laundering", ROUND(AVG("Transaction_amount"), 2) ...
                                          ^

[SQL:
SELECT "Is_laundering", ROUND(AVG("Transaction_amount"), 2) AS avg_amount
FROM transactions
GROUP BY "Is_laundering";
]
(Background on this error at: https://sqlalche.me/e/20/f405)